/* CategoriesSelection.css */
.categories-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .categories-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .category-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .category-item input {
    margin-right: 10px;
  }
  
  .categories-container button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;

  }
  
  /* .categories-container button:hover {
    background-color: #0056b3;
  } */
  
  .selected-categories {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: #333;
  }
  